{% load static %}
<div class="footerPadding" style="padding-top: 100px;">
  <footer class="page-footer">
    <div class="col-md-12" style="text-align: center;">
      <ul class="social-network social-circle">
        <!--<li><a href="https://www.facebook.com/victor.sun.1291" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
        <li><a href="https://www.instagram.com/sunnykid99/" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/Sunnykid99/" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="mailto:sun.victor99@gmail.com"  class="icoEMail" title="Email"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://github.com/Sunnykid6/" target="_blank" class="icoGithub" title="GitHub"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/victor-sun-a53877186/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>       
    </div>
  </footer>
</div>